#add-entry {
  margin-top: 25px;
}

.add-entry-button {
  padding: 0;
  margin: 0 0 4px;
  color: #343a40;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.language-select {
  margin-top: 15px
}
