<div class="d-flex justify-content-between" id="labels-for-languages">
  <p>Translate From</p>
  <p>Translate To</p>
</div>
<div class="d-flex justify-content-between">
  <div>
    <label for="originatingLanguage">
      <select class="form-control" id="originatingLanguage">
        <option>Estonian</option>
        <option>Russian</option>
        <option>English</option>
      </select>
    </label>
  </div>
  <div>
    <button class="btn">
      <i class="fas fa-exchange-alt"></i>
    </button>
  </div>
  <div>
    <label for="equivalentLanguage">
      <select class="form-control" id="equivalentLanguage">
        <option>Any</option>
        <option>Estonian</option>
        <option>Russian</option>
        <option>English</option>
      </select>
    </label>
  </div>
</div>
<br>
<!--<label for="typeahead-format"></label>-->
<!--<input id="typeahead-format" type="text" class="form-control" placeholder="Search for a word"/>-->
<div class="input-group">
  <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search For A Word" id="example-search-input">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary border-left-0 border" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
<br>
