<div class="d-flex justify-content-between" id="labels-for-languages">
  <p>Translate From</p>
  <p>Translate To</p>
</div>
<div class="d-flex justify-content-between">
  <div *ngIf="dataLoaded">
    <label for="originatingLanguage">
      <select class="form-control" id="originatingLanguage" (change)="setSelectedOriginatingLanguage($event.target.value)">
        <option *ngFor="let language of languages; let i = index" [value]="languages[i].languageName">
          {{languages[i].languageName}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <button class="btn">
      <i class="fas fa-exchange-alt"></i>
    </button>
  </div>
  <div *ngIf="dataLoaded">
    <label for="equivalentLanguage">
      <select class="form-control" id="equivalentLanguage" (change)="setSelectedEquivalentLanguage($event.target.value)">
        <option>Any</option>
        <option *ngFor="let language of equivalentLanguages; let i = index" [value]="equivalentLanguages[i].languageName">
          {{equivalentLanguages[i].languageName}}
        </option>
      </select>
    </label>
  </div>
</div>
<br>
<!--<label for="typeahead-format"></label>-->
<!--<input id="typeahead-format" type="text" class="form-control" placeholder="Search for a word"/>-->
<div class="input-group">
  <input [ngModel]="wordToSearch" class="form-control py-2 border-right-0 border" type="search" placeholder="Search For A Word" id="example-search-input" (ngModelChange)="searchWord($event)">
  <span class="input-group-append">
    <button class="btn btn-outline-secondary border-left-0 border" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>
<br>
